
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1B1B1E;
    color: #FFFFFF;
    min-width: 320px;
    margin: 0 auto;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    max-width: 145px;
    margin-bottom: 43px;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 19px;
}

h3{
    font: normal bold 18px/12px 'Jost', sans-serif;
    margin-bottom: 14px;
}

.container{
    min-width: 300px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header{
    flex-direction: column;
    padding-right: 0;
    background-image: url(assets/img/headerBgImg.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.logo{
    width: 68px;
    margin-top: 14px;
    margin-bottom: 52px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to top right, #FFCD4C 0%, #FFCD4C 55%, #f3d17b 56%, #f3d17b 100%);
    box-shadow: 0px 2px 8px rgba(162, 220, 245, 0.26), 0px 0px 2.1875px #FFCD4C;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1B1B1E;
    text-transform: uppercase;
}
.market{
   flex-direction: column;
   margin-top: 45px;
   margin-bottom: 48px;
}

.market p{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
}

.arrows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.arrows div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
    text-align: center;
    margin-top: 5px;
}

.union1{
    height: 67px;
}
.union2{
    height: 79px;
    margin-top: 22px;
}
.union3{
    height: 111.5px;
    margin-top: 33px;
}

.arrows span{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
}
.sentence{
    margin-bottom: 49px;
}
.sentence p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 22px;
    letter-spacing: 0.15px;
}
.cards{
    margin-bottom: 27px;
}
.card{
    max-width: 300px;
    height: 209px;
    border-radius: 12px;
    padding-left: 49px;
    padding-right: 48px;
    margin-top: 21px;
}

.card>div{
    margin-top: 13px;
}
.oneCard{
    background: #1B1B1E;
    box-shadow: 0px 0px 17px rgba(162, 220, 245, 0.26);
    color: #FFFFFF;
}

.cardTitle{
    font: normal 23px/140% 'Jost', sans-serif;
    font-weight: 500;
    color: #FFCD4C;
}
.cardTitleTwo{
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 140%;
    color: #FFCD4C;
}
.oneCard>div>p{
    font: normal normal 13px/140% 'Jost', sans-serif;
}
.oneCard>div>p:last-child{
    font-weight: 300;
    color: #9E9E9E;
    margin-top: 12px;
}
.twoCard{
    background: #F2F2F2;
    box-shadow: 0px 1.6px 10px rgba(0, 0, 0, 0.11);
    color: #000000;
    text-align: center;
}
.twoCard>div>p{
    font: normal normal 13px/140% 'Jost', sans-serif;
}

.twoCard .cardTitle, .twoCard .cardTitleTwo{
    color: #000000;
}
.twoCard>div{
    display: inline-block;
    margin-top: 45px;
}
.show p{
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 25px;
}
.bg-show{
    background-image: url(assets/img/bg-show.svg);
    background-size: cover;
    min-height: 77px;
    margin-top: 30px;
}
.footer{
    font: normal normal 13px/19px 'Jost', sans-serif;
    padding-left: 30px;
    padding-top: 33px;
    min-width: 280px;
}
.contacts>p>a{
    text-decoration: none;
    color:inherit;
}
.contacts>p{
    margin-bottom: 7px;
}
.soc-list{
    text-align: left;
    margin-bottom: 20px;
}
.products{
    padding-bottom: 26px;
}
.ps{
    border-top: 1px solid #FFFFFF;
    padding-top: 7px;
    max-width: 206px;
    padding-bottom: 26px;
}
.ps a{
    font: normal 600 13px/19px 'Jost', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

@media (min-width: 415px) {
    .cards{
        display: flex;
        align-items: center;
    }  
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 30px;
    }
    .ps {
        display: block;
        min-width: 100%;
    }
}

@media (min-width: 576px){
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 700px){
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        max-width: 250px;
        margin-bottom: 57px;
    }
    h2{
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 8px;
    }
    .container {
        padding-left: 70px;
        padding-right: 70px;
        max-width: 100%;
    }
    .logo{
        width: 88px;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .header{
        background-size: 710px auto;
        padding-bottom: 129px;
    }
    .btn{
        width: 192px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    .market{
        margin-bottom: 44px;
    }
    .market p{
        font-size: 16px;
        line-height: 140%;
        max-width: 370px;
        display: inline-block;
        margin: 0 auto;
    }
    .union1{
        height: 122px;
    }
    .union2{
        height: 143px;
        margin-top: 35px;
    }
    .union3{
        height: 203px;
        margin-top: 50px;
    }
    .arrows{
        justify-content: space-between;
        margin-top: 0;
    }
    
    .arrows div{
        margin-top: 0;
    }
    .arrows span{
        font-size: 30px;
        line-height: 37px;
        margin-top: 0;
    }
    .arrows div:first-child{
        margin-left: 15px;
    }
    .un{
        margin-left: 50px;
    }
    .sentence p{
        margin-bottom: 11px;
    }
    .sentence {
        margin-bottom: 42px;
    }
    .cards {
        align-items: normal;
        margin-bottom: 49px;
    }
    .cards-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .card {
        width: 201px;
        height: 209px;
        margin-top: 28px;
        padding-left: 19px;
        padding-right: 19px;
    }
    .oneCard>div>p {
        margin-bottom: 0;
    }
    .cardTitleTwo {
        line-height: 90%;
    }
    .card>div {
        margin-top: 27px;
    }
    .show p {
        letter-spacing: 0.4px;
        margin-bottom: 48px;
    }
    .bg-show {
        margin-top: 68px;
        height: 167px;
    }
    .footer {
        padding-top: 11px;
        line-height: 120%;
    }
    .soc-list {
        text-align: left;
        margin-bottom: 0;
    }
    .products {
        padding-bottom: 0;
    }
    .ps {
        padding-top: 0;
        max-width: 206px;
        padding-bottom: 0;
    }
    .ps p{
        line-height: 15px;
        margin: 0;
        margin-top:15px;
        margin-bottom:15px;  
    }
}

@media (min-width: 1200px){
    h1{
        max-width: 600px;
    }
    .cards h2{
        text-align: center;
    }
    .cards-list {
        justify-content: space-around;
    }
    .header{
        background-image: url(assets/img/headerBgImg.png);
        background-size: 40% ;
    }
}